/* I'm trying to keep styling to a minumum here.  Ideally you should be ably to apply any "classless css framework."

That being said, this file contains some CSS that serves an important purpose (mostly positioning-related).  Should interfere minimally with any other user-defined CSS.*/


.choice {
    cursor: pointer;
}

#clickmap area{
    cursor: pointer;
}

#canvas {
  width: 0; /* Override with a percentage in Ink */
  margin: auto;
  aspect-ratio: 1;
  position: relative; /* so that children can use absolute */
  background: #303030; /* for dev/testing purposes*/

  /* make contents not selectable */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* draggable='false' might make these redundant, but might as well be safe: */
  user-drag: none;
  -webkit-user-drag: none;
}

#canvas img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    
    /* Turn off antialiasing for nice pixel art. */
    /* TODO Make this configurable? */
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#hovertext {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    /* Normally I would leave styling to user, but in this case I think an unstyled default would simply be unusable on a variety of backgrounds.*/
    background-color: black;
    color: white;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius:0.2rem;
    color: white;
}

/* screenreader-only class (visible to screenreaders but not visual users),
as recommended here:
https://webaim.org/techniques/css/invisiblecontent/#techniques
*/
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
